body {
    background: #0bcace;
    font-family: 'Acme', sans-serif;
}

.main-title {
    text-align: center;
    margin-top: 20%;

}

.brand-form {
    max-width: 60%;
    alignment: center;
}

.brand-input {
    width: 80%;
    display: inline;
}

#inline {
    display: inline;
}
#results {
    display: none;
    text-align: center;
}

#red-message {
    color: #ff0000;
}

#green-message {
    color: green;
}