body {
    background: #86989B;
}


.brand-form {
    max-width: 60%;
    alignment: center;
}

#results {
    display: none;
}

#red-message {
    color: #ff0000;
}

#green-message {
    color: green;
}